
.blocks {

  .block-image-and-text {
	background-color: transparent;
  }
}

.block-image-and-text {

  padding: 0;
  float: none;
  display: flex;
  flex-flow: row wrap;
  width: 100%; // ie flex bug

  &--invert-order {

	.block-image-and-text__image {
	  order: 2;
	  @include media-breakpoint-down('md') {
		order: initial;
	  }
	}

  }

  &__image {
	padding: 2rem 0;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
  }

  &__title {

  }

  &__content {
	flex: 1 1 auto;
  }
  &__footer {
	flex: 1 1 auto;
	width: 100%;
	display: flex;
	flex-flow: column nowrap;
	padding: 2em;
  }

  .btn {
	margin-top: 2rem;
	background-color: rgba(0, 0, 0, .1);
	@include media-breakpoint-down(sm) {
	  font-size: .8em;
	}
  }

}

@media (max-width: 767px) {
  .blocks .block.block-image-and-text {
	float: none;
	padding: 0;
  }
}

.navigation-card {
  .nav-card-title {
	font-weight: 500;
  }
}