.single-post {
  &__row {

  }

  &__top-image {
	margin-bottom: .75rem;

	img {
	  border-radius: $border-radius;
	  @include media-breakpoint-up(md) {
		width: 100%;
	  }
	}
  }

  &__breadcrumb {
	display: block;
	width: 90%;
	margin: 0 auto;
	.breadcrumb {

	}
  }

  &__content {
	@include make-col();
	@include make-col-span(12);

	@include media-breakpoint-up(md) {
	  @include make-col-span(10);
	}
	@include media-breakpoint-up(lg) {
	  max-width: none; //48.125em;
	}

  }
}





