
.site-header {
  font-family: $font-family-base;

  .navbar {
	margin: .65rem 0;
  }
}

@media (min-width: 768px) {
  .navbar {
	display: flex;
	flex-flow: row nowrap;

	&__menu {
	  flex: 1 1 auto;
	}
	&__translate {
	  flex: 1 0 auto;
	  display: none;
	}

	&__search-form {
	  flex: 0 1 auto;
	  width: 30%;
	}

	& > * {
	  display: flex;
	  flex-flow: row nowrap;
	  align-items: center;
	}

  }

  .menu-container {
	display: flex;
	flex-flow: row nowrap;
	justify-content: flex-start;
	align-items: center;
  }

  .menu-item {
	font-size: font-size(9);
	padding: ($input-padding-y-lg * 0.75) ($input-padding-x-lg * 0.75);
	margin: 0 .5rem;
	border-radius: $border-radius-lg;
	a {
	  font-weight: 800;
	  color: hb-color(blue, 3);
	}

	&:first-of-type {
	  margin-left: 0;
	}

	&.current-menu-item {
	  background-color: hb-color(blue, 3);
	  a {
		color: white;
	  }
	}
  }

}
