.site-footer {
  margin-top: 3rem;
  padding-top: 3rem;
  background-color: white;
  position: relative;

  padding-bottom: 6rem;
  color: hb-color(blue, 3);

  .logo-container {
	display: block;
  }

  &__upper {
	padding: 0;
  }


  .menu-item a {
	text-decoration: none;
	&:hover {
	  text-decoration: underline;
	}
  }

  &__below {
	.row + .row {
	  margin-top: 3.4rem;
	}
  }

  .link {
	margin-bottom: 1rem;
	font-weight: bold;
	font-size: 18px;
	text-decoration: none;
	color: hb-color(blue, 3);
	.icon {
	  display: inline-block;
	  margin-right: 1rem;
	}
	&:hover {
	  text-decoration: underline;
	}
  }

  .rounded-iframe {
	@include media-breakpoint-up(md) {
	  text-align: right;

	}
  }
}